<h3>Este é seu espaço de tarefas à fazer!</h3>

<div #edit class="edit" *ngIf="task !== null">
  <textarea [rows]="5" [cols]="30" pInputTextarea [(ngModel)]="task" autoResize="autoResize">{{ task }}</textarea>
  <button pButton label="editar" (click)="editar()"></button>  
</div>

<ul>
  <li *ngFor="let task of tasks"> 
    {{task}} 
    <button pButton type="button" label="Remover" (click)="removeTask(task)"></button>
    <button pButton type="button" label="Editar" (click)="editTask(task)"></button>

  </li>
</ul>

<div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <label for="float-input">Descrição</label>
      <div class="ui-inputgroup">
        <textarea [rows]="5" [cols]="30" pInputTextarea [(ngModel)]="todo" autoResize="autoResize"></textarea>      
      </div>
  </div>
</div>
<button pButton type="button" label="Adicionar" (click)="addTask()"></button>


